<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<a href="/table">Notes List</a> &nbsp;
<a href="/usertable">User List</a>

<h2>List of Notes</h2>
<h4><a href="/addnotes">Add New Note</a></h4>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th>Status</th>
        <th>Created By</th>
        <th>Action</th>
    </tr>
    <tr th:each = "note: ${notes}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td th:text="${note.createdAt}"></td>
        <td th:text="${note.updatedAt}"></td>
        <td th:text="${note.status}"></td>
        <td th:text="${note.user}"></td>
        <td><a href="/updatenotes">Update</a>&nbsp;<a href="/delete">Delete</a></td>

    </tr>
</table>
</body>
</html>